[submodule "Hades/vendor/spdlog"]
	path = Hades/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Hades/vendor/GLFW"]
	path = Hades/vendor/GLFW
	url = https://github.com/Manipu1a/glfw
[submodule "Hades/vendor/imgui"]
	path = Hades/vendor/imgui
	url = https://github.com/Manipu1a/imgui.git
